{% extends 'layout.html' %}

{% block content %}

    <form method="POST">
        <table class="table table-bordered" id="childTablesList">
        <thead class="thead-light">
            <tr>
                <th>Select</th>
                <th>Child Table</th>
                <th>Child Table FK</th>
                <th>Parent Table</th>
                <th>Parent Table PK</th>
            </tr>
        </thead>
        {% for rec in child_tables %}
            <tr>
                <td><input type="checkbox" name="childTables" value={{ rec[0] }}></td>
                <td>{{ rec[0] }}</td>
                <td>{{ rec[1] }}</td>
                <td>{{ rec[2] }}</td>
                <td>{{ rec[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-outline-info btn-primary" id="btn1">Insert Data</button>

</form>

<script>
var table = $('#childTablesList').DataTable();

$("form").on('submit', function(e){
   var $form = $(this);

   // Iterate over all checkboxes in the table
   table.$('input[type="checkbox"]').each(function(){
      // If checkbox doesn't exist in DOM
      if(!$.contains(document, this)){
         // If checkbox is checked
         if(this.checked){
            // Create a hidden element
            $form.append(
               $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', this.name)
                  .val(this.value)
            );
         }
      }
   });
});
</script>

{% endblock %}